<div class="form-style-10">
    <h1>Crear titular<span>Los campos marcados con * son obligatorios</span></h1>
    <p style="color: red;"> {{error}} </p>
    <form [formGroup]="formGroup" (submit)="onSubmit()">
        <div class="section"><span>1</span>Información básica</div>
        <div class="inner-wrap">
            <div class="row">
                <div class="col-md-6">
                    <label>Rut*<input formControlName="rut" type="text" name="rut" /></label>
                    <select formControlName="typePerson" name="typePerson">
                        <option value="">--Seleccionar tipo</option>
                        <option value="Natural">Natural</option>
                        <option value="Juridica">Jurídica</option>
                    </select>
                    <label>Teléfono*<input formControlName="phone" type="number" name="phone"/></label>
                    <label>Email*<input formControlName="email" type="email" name="email"/></label>
                    <label>Fecha fundación<input formControlName="foundationDate" type="date" name="foundationDate" /></label>
                </div>
                <div class="col-md-6">
                    <label>Nombre o razón social*<input formControlName="name" type="text" name="name" /></label>
                    <label>Apellido<input formControlName="lastName" type="text" name="lastName" /></label>
                    <label>Cédula o Nit*<input formControlName="identification" type="text" name="identification" /></label>
                    <label>Dirección*<input formControlName="address" type="text" name="address" /></label>  
                </div>
            </div>
        </div>
        <div class="button-section">
            <input type="submit" name="Registrar" />
        </div>
    </form>
</div>