<div class="header">
    <a href="./" class="logo">
      <img width="40" src="assets/img/bank-logo.png"/>
      Bank
    </a>
    <div class="header-right">
      <a routerLink="./holder/index">Titulares</a>
      <a routerLink="./accounts/index">Cuentas</a>
    </div>
  </div>
