
.table-wrapper{
    margin: 60px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.container {
    margin: 10px;
}

.table-wrapper a {
    color: black;
    margin-bottom: 10px;
    text-decoration: none;
}