<div class="table-wrapper">
    <div class="container">
        <a (click)="showAddHolder()"><i class="material-icons">add_circle</i> Agregar usuario</a>
        <ng-container *ngIf="addHolder">
            <app-add-holder [editHolder] = "editHolder"
                            (reload)="onReloadEvent($event)"></app-add-holder>
        </ng-container>
        <app-list-holder (holderEdit)="onEditHolderEvent($event)" 
                        [events]="eventsSubject.asObservable()"></app-list-holder>
    </div>
</div>
