<p style="color: red;"> {{error}} </p>
<table class="fl-table">
    <thead>
    <tr>
        <th>Rut</th>
        <th>Nombre o Razón social</th>
        <th>Identificación o Nit</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Fecha de fundación</th>
        <th>Dirección</th>
        <th>Tipo Persona</th>
        <th>Accción</th>
    </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="holders.length <= 0">
            <tr>
                <td colspan="9">No hay usuarios registrados</td>
            </tr>
        </ng-container> 
        <tr *ngFor="let holder of holders">
            <td>{{holder.rut}}</td>
            <td>{{holder.name}} {{holder.lastName}}</td>
            <td>{{holder.identification}}</td>
            <td>{{holder.phone}}</td>
            <td>{{holder.email}}</td>
            <td>{{holder.foundationDate  | date: 'dd/MM/yyyy'}}</td>
            <td>{{holder.address}}</td>
            <td>{{holder.typePerson}}</td>
            <td>
                <a (click)="editHolder(holder)" style="color: #4CAF50;"><i class="material-icons">edit</i></a>
                <a (click)="deleteHolder(holder.id)" style="color: #F44336;"><i class="material-icons">delete</i></a>
            </td>
        </tr>
    <tbody>
</table>